/* Base Application Styles */
html,body {
  color: #fff;
  height: 100%;
  width: 100%;
  background: #222;
}
.content{
  width: 100%;
  height: 100%;
}

/*stage start*/
.stage{
  position: relative;
  width: 100%;
  height: 85%;
}

/*stage end*/

/*img-sec start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden; 
}
/*img-sec end*/

/*controller-nav start*/
.controller-nav{
  position: absolute;
  left: 0px;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
/*controller-nav end*/